<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/dgeorgiev/Downloads/emerchantpay-employee-demo/01-thymeleaf-demo-employees-starter-list/src/test/java/com/luv2code/springboot/thymeleafdemo/testngTests">
        <classes>
            <class name="com.luv2code.springboot.thymeleafdemo.testngTests.BasicTest"><methods><include name="demo"/></methods></class><class name="com.luv2code.springboot.thymeleafdemo.testngTests.FirstTest"><methods><include name="firstTest"/><include name="secondTest"/></methods></class></classes></test></suite>